@use './mixin' as mixin;
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    font-size: 18px;
}

.container{
    width: 80%;
    margin: 0 auto;

    @include mixin.medium{
        width: 90%;
    }

    @include mixin.litle{
        width: 100%;
    }
    
}